---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

const cards = [
  {
    index: 0,
    title:
      "数字副店长智能体帮助餐厅开展网络数字营销，实现了50%曝光量提升，并提高了25%的客流量。",
    link: "#",
  },
  {
    index: 1,
    title:
      "我们开发的数字化副店长智能体，能够全天24小时工作，为您的顾客提供不间断的及时响应，实现100%的用户及时响应率。",
    link: "#",
  },
  {
    index: 1,
    title:
      "通过智能化的预测客流，实现灵活可靠的智能化人员排班和库存管理，提升25%的店面坪效，以及20%销量增长。",
    link: "#",
  },
];

import larrow from "../../assets/icon3.svg";
import SectionTitle from "../ui/SectionTitle.astro";
---

<Section id="cases">
  <SectionTitle
    sectionTitle="案例"
    description="通过实际案例了解我们是如何帮助您获得成功。"
  />
  <div class="flex flex-col lg:flex-row justify-between rounded-[45px] p-1">
    {
      cards.map((card) => (
        <Card>
          <div class="flex p-[60px] h-full bg-dark text-gray rounded-[45px] m-[1px]">
            <div class="flex flex-col gap-5">
              <p>{card.title}</p>
              <a href={card.link} class="flex items-center gap-[15px]">
                <span class="text-green"></span>
                <picture>
                  <Image src={larrow} alt="Arrow pointing up right" />
                </picture>
              </a>
            </div>
          </div>
        </Card>
      ))
    }
  </div>
</Section>
