---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="mt-[140px] mb-[140px] relative">
    <SectionTitle
      sectionTitle="联系我们"
      description="让我们一起讨论您的数字化副店长需求"
    />
    <Form />
  </div>
</Section>
