---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import HeroIlust from "../../assets/pics/hero.svg";
---

<Section id="home">
<div class="relative flex flex-col-reverse items-center md:flex-row" id="hero">
    <div class="row items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
        <div class="text-left space-y-3">
            <h1 class="text-4xl font-medium leading-none md:text-6xl text-center md:text-left">人工智能大模型驱动的 <br/> 数字副店长 <br/> 智能体</h1>
            <p class="mt-6 mb-8 text-lg font-normal leading-7 sm:mb-12 text-center md:text-left md:pr-12">通过人工智能大模型智能体帮助零售门店高效管理和决策。基于先进大模型技术，深度理解门店运营，提供全天候、数据驱动的决策支持。数字副店长智能体能够主动营销、智能分析客流量、优化排班、管理库存、洞察销售趋势，并生成个性化营销建议。是一位永不疲倦的副店长，显著提升运营效率、降低成本、驱动业绩增长，让门店管理更智能、更高效。</p>
            <div class="w-full justify-center md:justify-start items-center inline-flex">
                <a href="#" target="_blank" class="px-8 py-5 bg-zinc-900 hover:bg-white rounded-2xl text-center text-white hover:text-black border text-xl font-normal leading-7"> 预约了解更多细节
                </a>
            </div>
        </div>
    </div>
    <div class="flex items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
        <Image src={HeroIlust} alt="Hero Ilustration" loading="eager" />
    </div>
</div>
</Section>