---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "一步步实现您的业务需求";
---

<Section id="process">
  <div class="mt-[140px]">
    <SectionTitle
      sectionTitle="我们的工作流程"
      description={description}
    />
    <Accordion />
  </div>
</Section>