---
import MainLayout from "../layouts/MainLayout.astro";
import Sponsors from "../components/sections/Sponsors.astro";
import Services from "../components/sections/Services.astro";
---

<MainLayout title="About us">
	<main class="space-y-20">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-3">
            <div class="relative flex flex-col-reverse items-center md:flex-row" id="hero">
                <div class="row items-center py-5 md:pb-20 md:pt-10">
                    <div class="text-center space-y-10">
                        <h2 class="text-5xl font-medium leading-none md:text-6xl">人工智能大模型驱动的 <br/> 数字副店长 <br/> 智能体</h2>
                        <p class="mt-6 mb-8  text-xl font-normal leading-7 sm:mb-12">通过人工智能大模型智能体帮助零售门店高效管理和决策。基于先进大模型技术，深度理解门店运营，提供全天候、数据驱动的决策支持。数字副店长智能体能够主动营销、智能分析客流量、优化排班、管理库存、洞察销售趋势，并生成个性化营销建议。是一位永不疲倦的副店长，显著提升运营效率、降低成本、驱动业绩增长，让门店管理更智能、更高效。</p>
                        <a class="px-9 py-5 bg-zinc-900 hover:bg-white text-white hover:text-black border rounded-2xl justify-items-center md:justify-items-start gap-2.5 inline-flex" rel="noopener noreferrer"  href="#" target="_blank">
                            <h2 class="text-center text-xl font-normal leading-7">预约咨询</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <Sponsors />
        <Services />
	</main>
</MainLayout>